<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.sysoiev.spring_core.beans.Client" id="client">
        <constructor-arg value="1" index="0"/>
        <constructor-arg value="John Smith"/>
    </bean>

    <bean class="com.sysoiev.spring_core.loggers.ConsoleEventLogger" id="eventLogger"/>

    <bean class="com.sysoiev.spring_core.App" id="app">
        <constructor-arg ref="client"/>
        <constructor-arg ref="eventLogger"/>
    </bean>


    <bean class="com.sysoiev.spring_core.beans.Event" id="event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <bean class="java.text.DateFormat" id="dateFormat" factory-method="getDateTimeInstance"/>
</beans>